<html>
<head>
    <title>{{ book.title }}</title>
</head>
<body>
    <h1>{{ book.title }} - {{ book.author }}</h1>
    <p>Summary: {{ book.summary }}</p>
    <p>Year: {{ book.postYear }}</p>
        <h3>Comments</h3>
   		<a href="/books/{{bookId}}/comments/new">Add comment</a> <br>
        {{ #book.comments }}
            <ul>
                <li>
                    <p>{{ author }}: {{ score }} ⭐</p>
                    <p>{{ text }}</p>
                    <p><a href="/books/{{ bookId }}/comments/{{ id }}/delete">Delete comment</a></p>
                </li>
            </ul>
        {{ /book.comments }}
        {{ ^book.comments }}
        <p>No comments yet</p>
        {{ /book.comments }}
    <a href="/">Return homepage</a>
</body>
</html>
