<html>
<head>
    <title>{{ book.title }} - {{ book.author }}</title>
</head>
<body>
    <p>Summary: {{ book.summary }}</p>
    <p>Year: {{ book.postYear }}</p>

    {{ #book.comments }}
        <h3>Comments</h3>
        <ul>
            <li>
                <p>{{ author }}: {{ score }} ⭐</p>
                <p>{{ text }}</p>
                <p><a href="/books/{{ book.id }}/comments/{{ id }}/delete">Delete comment</a></p>
            </li>
        </ul>
    {{ /book.comments }}
    {{ ^book.comments }}
        <h3>No comments yet</h3>
    {{ /book.comments }}
</body>
</html>