<html>
<head>
    <title>{{ bookTitle }}</title>
</head>
<body>
    <h1>{{ bookTitle }} - {{ bookAuthor }}</h1>
    <p>Summary: {{ bookSummary }}</p>
    <p>Year: {{ bookPostYear }}</p>

    {{ #bookHasComments }}
        <h3>Comments</h3>
        {{ #bookComments }}
        <ul>
            <li>
                <p>{{ author }}: {{ score }} ⭐</p>
                <p>{{ text }}</p>
                <p><a href="/books/{{ bookId }}/comments/{{ id }}/delete">Delete comment</a></p>
            </li>
        </ul>
        {{ /bookComments }}
    {{ /bookHasComments }}
    {{ ^bookHasComments }}
    <h3>No comments yet</h3>
    {{ /bookHasComments }}
</body>
</html>